<h1>Campgrounds</h1>

<% campgrounds.forEach((campground)=>{ %>
  <ul>
    <div>
      <h4><%=campground.name%></h4>
      <img src="<%=campground.image%>" style="width: 300px">
    </div>
  </ul>
<%}); %>
